[submodule "types"]
	path = types
	url = https://github.com/notpeter/playdate-luacats
	branch = main
[submodule "source/libraries/sceneManager"]
	path = source/libraries/sceneManager
	url = https://github.com/divin/pd-scene-manager.git
	branch = main
